@media print {
    .tm-sidebar,
    #about,
    .heading,
    .blocks,
    #ideas,
    .img-fluid,
    #contact
    {
      display: none;
    }
 

    #home {
        width: 80%;
        position: relative;
        left: 5%;
        top: 70px;
        z-index: 100;      
    }

    section::before {
        display: none;
      }

    #home div.tm-banner-inner {
        border: 1px solid lightgray;
        
    }

    img[alt="epam-mexico"] {
        width: 55%;
    }

    .tm-content-box.flex-2-col {
        display: flex;
        position: relative;
        left: 5%;
        width: 100%;
        justify-content: center;
    }

    .padding-medium {
        width:100%;
    }

    .padding-medium h2 {
        color: blue;
    }

    footer {
        position: relative;
        right: 7%;
        bottom: 80px;
        z-index: 50;  
    }
}

.box-bg:hover h2{
    background-color: rgb(146, 213, 233);
    color: white;
    font-weight: bold;
}

p::first-letter { 
    font-size: 30px;    
}

#home p::first-letter,
.tm-content-box .padding-medium p::first-letter,
.carousel-inner p::first-letter,
.tm-footer p::first-letter
{
    color:lightskyblue;
}

.tm-sidebar,
.tm-content-header,
.tm-content-box.flex-2-col,
#about,
.heading.tm-content-box,
.blocks,
#ideas,
section.tm-content-box 
{
    box-shadow:0 0 10px 2px gray;
}

.blocks .tm-content-box.flex-2-col {
    visibility: hidden;
}

@media screen {
    #home div.tm-banner-inner {
        border: 1px solid lightgray;
        outline: 30px solid rgb(245, 245, 245);
    }   
}


section::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    clip-path: polygon(0 0, 0 35px, 250px 0);
}

.carousel-content h2 {
   color:  gainsboro;
   letter-spacing: 5px;
}

h2 + p:not(.tm-main-content) {
    font-style: italic;
}

p:not(.tm-main-content) {
    line-height: 2em;  
}

#home p,
.tm-team-description-container p,
.carousel-inner p {  
    text-indent: 30px;  
}

section.heading.tm-content-box a{
        color: black;
}

.heading.tm-content-box a:visited {
    text-decoration: underline;
}

.heading.tm-content-box a:hover {
    color: lightskyblue;
    text-decoration-style: double;
}

.heading.tm-content-box a.text::after {
    content: "New";
    color: red;
    vertical-align: super;   
    font-size: 0.7em;
    position: absolute;
}

.box.box-work {
    padding: 10px;
}

.box.box-work:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

.submit-btn {
    display: block;
    margin-left: auto;
    width: 200px;
    height: 70px;
    background-color: white;
    color: lightskyblue;
    border: 1px solid lightskyblue;
    font-size: 24px;
    border-radius: 0;
}

.submit-btn:hover {
    color: white;
    background-color: lightskyblue;
    border-color:rgb(98, 192, 250);
}

.mandatory-field::after {
    content: "*";
    color: red;
    vertical-align: super;
    font-weight: bold;
}

.tm-nav-item:hover {
    background-color:rgb(245, 245, 245);
}

.tm-content-box.flex-2-col {
    display: flex;
    align-items: center;
}

.heading h2 {
    text-align: center;
    color: lightskyblue;
}