body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;  
  background: #f4f4f4;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.white-background {
  background-color: white;
  color: rgb(107, 104, 104);
}

.first-section .white-background:hover {
  color: #76cdd8;  
}

.white-background-right {
  position: relative;
}

.white-background-right:hover:after {  
  content: '';
  width: 4em;
  height: 4em;
  background-color: rgb(118, 205, 216);
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.white-background-left {
  position: relative;
}

.white-background-left:hover:after {
  content: '';
  width: 4em;
  height: 4em;
  background-color: rgb(118, 205, 216);
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.blue-background {
  background-color: #76cdd8;
  color: #fff;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  row-gap: 2rem;
}

.first-section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.first-section-element {
  width: 50%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-section-element-1 h2{
  font-size: 3rem;
  font-weight: normal;
}

.first-section-element-2 {
  font-size: 1rem;
  font-weight: 600;
}

.first-section-element-3 {
  height: 20rem;
}

.text-margin {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

.h3-blue {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #76cdd8;
}

.p-normal {
  font-size: 0.8rem;
  font-weight: 600;
  color: #1b1a1a;
}

.button {
  background-color: #019999;
  color: #ffffff;
  padding: 1rem 2rem;
  border: 0;
  width: 10rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgb(118, 205, 216);
}

.button-right {
  align-self: flex-end;
}

.button-center {
  align-self: center;
}

.round-image {
  background-image: url('../img/image-04.jpg');
  background-position: center;
  background-size: cover;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  align-self: center;
}

.round-image-caption {
  margin: 0.5rem;
  font-weight: normal;
}

.background-phone {
  width: 100%;
  height: 100%;
  transition: transform 400ms 17ms;
  z-index: 1; 
}

.image-hover-effect:hover {  
  transform: scale(1.1);
  z-index: 100; 
}

.anchor {
  color:#027bff;
  text-decoration: none;
  font-weight: 600;
}

.second-section {
  display: flex;
  height: 33rem;
}

.second-section-element-1 { 
  width: 70%; 
  height: 100%;
}

.second-section-element-2 {
  width: 30%;
  height: 100%;
}

.tennis-court {
  width: 100%;
  height: 100%;
  transition: transform 400ms 17ms;
  z-index: 1; 
}

.third-section {
  display: flex;
  height: 30rem;
}

.third-section-element-1 {
  width: 30%;
  height: 100%;
}

.basketball-court {
  width: 100%;
  height: 100%;
  transition: transform 400ms 17ms;
  z-index: 1; 
}

.third-section-element-2 {
  width: 70%; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

.pricing-card {
  width: 40%;
  height: 80%;
  border: 1px solid #019999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 100ms 16ms;  
}

.pricing-card:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;  
}

.pricing-card:hover .button-buy {
  background-color: #24d4d4;
}

.pricing-card-header {
  width: 100%;
  background-color: #019999;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.plan-name {
  margin: 0;
  font-weight: 300;
  text-transform: capitalize;
}

.plan-price {
  margin: 0;
  font-weight: 300;
  text-transform: lowercase;
}

.service-list {
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  font-weight: 550;
}

.button-buy {
  background-color: #019999;
  color: #ffffff;
  padding: 0.8rem 2rem;
  border: 1px solid #019999;
  width: fit-content;
  text-transform: uppercase;
  
}

.special-discount {
  margin: 0;
  color:#24d4d4;
  text-align: center;
  visibility: hidden;
}

.red-asterisk {
  color: red;
}

.pricing-card-2 {
  transition: height 100ms 16ms; 
}

.pricing-card-2:hover {
  height: 90%;   
}

.pricing-card-2:hover .special-discount {
  visibility: visible;
  margin-bottom: 2rem;
  position: relative;
  bottom: 0.5rem; 
}

.button-buy-1 {
  margin-bottom: 2rem;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30rem;
}

.fourth-section-header {
  color: #fff;
  background-color: #23d4d4;
  padding-bottom: 2rem;
  width: 100%;
}

.application-form-caption {
  font-weight:normal;
  margin-left: 12%;
}

.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -4rem;
}

.contacts {
  background: #019999;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4rem 0 2rem;
  
}

.contacts-left-column-heading {
  font-weight: 500;
  margin: 0;
}

.contacts-column-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 0.8rem;  
}

.contacts-column-list li::first-letter {
  text-transform: uppercase;
}

.contacts-left-column-list {
  line-height: 1.2rem;
}

.contacts-right-column-list {
  line-height: 1.5rem;
}

.copyright {
  text-align: center;
  text-transform: capitalize;
  color:rgb(107, 104, 104);
  margin: 1rem 0;
  font-size: 0.8rem;
}

.application-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67%;
  height: 60%;
  position: relative;
  top: -2rem;
  z-index: 100;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;  
  align-content:center;
  column-gap: 1.5rem;
  row-gap: 1rem;
  height: 80%;
}

.light-border {
  border: 1px solid lightgray;
}

.midle-border {
  border: 1px solid lightslategrey;
}

.input-item {
  padding: 0.6rem;
  width: 35%;
}

.extra-width {
  width: 38%;
}

.focus-effect:focus {
  outline:none;
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}