#root {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 28em;
    text-align: center;
}

.listPage {
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

#navigationButtons {
    display: flex;
    justify-content: space-evenly;      
}

#modifyItemInput {
    padding: 0;
    margin-bottom: 1em;
}

.tweet-paragraph {
    padding: 0.2em 0.4em;
    margin: 0 0.5em 1em;     
    width: 15em;
    height:fit-content;
    overflow-wrap:break-word;    
    text-align: left;
}

.tweet-list-item {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    width: 28em;
    justify-content: space-around;
    align-items:flex-start;
   
}

#list {
    padding: 0;
    margin: 2em auto;
}

.liked {
    box-shadow: 0 0 15px #26bf47;
    border-radius: 1em;
}

.like-button {
    width: 4em;
}

.back-button, .go-to-liked-button {
    display: none;
}

.button, .addTweet {
    border-radius: 0.3em;
}

#alertMessage {
    position: absolute;
    padding: 1em;
    background-color: gray;
    color: white;
    visibility: hidden;
    left: -130px;
    width: 180px;
}