:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

body {  
  background-color: var(--light);
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'header header header'
                        'photos photos bio'
                        'footer footer footer';
  gap: 0.5rem;
}

.header {
  grid-area: header;
  padding: 1rem;
}

.photos {
  grid-area: photos;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'first second third';
  padding: 2rem;
  gap: 1rem;
}

.bio {
  grid-area: bio;
}

.stiky-container {
  padding: 1rem;
  position: sticky;
  top: 0.5rem;  
  height: fit-content;
}

.footer {
  grid-area: footer;
  padding: 1rem;
}

.box-shadow {
  box-shadow: 0 0.1rem 0.2rem 0.05rem #aaaa;
}

.header-logo {
  width: 6rem;
  margin: 0 auto -0.3rem;
}

.h1-heading {  
  font-size: 2.1rem;
  margin: 0;
}

.name-font {
  font-family: var(--secondary-font);
}

.header-text {
  margin: 0.5rem 0 1.5rem;
}

.general-text {
  font-family: var(--primary-font);
  font-size: 1rem;
  margin: 0;
}

.first-image-col {
  grid-area: first;  
}

.second-image-col {
  grid-area: second;
}

.third-image-col {
  grid-area: third;
}

.image-col {
  display: grid;
  align-content: start;
  gap: 1rem;  
}

.photos-image {
  width: 100%;  
  border-radius: 0.5rem;  
}

.avatar-photo-container {
  margin: 0 auto 0.5rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url(./images/avatar.jpg); 
}

.avatar-photo-container:hover {
  box-shadow: 0 0 0.5rem 0.5rem var(--primary-color);
}

.h2-bio {
  margin: 0;
}

.social-media-icons {
  margin: 0.5rem 0 0;
}

.mar-top-05 {
  margin-top: 0.5rem;
}

.footer-logo {
  width: 3rem;
  margin: 0;
}

.h1-footer {  
  font-size: 0.8rem;
  font-weight: 900;
  margin: 0;
}

.footer-text {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 500;
}

.copyright {
  
  font-weight: normal;
}

@media screen and (max-width: 990px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'header bio bio'
                        'photos photos photos'
                        'footer footer footer';  
  }

  .header {
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: 'bio'
                        'photos'
                        'footer';  
  }

  .header {
    display: none;    
  }

  .photos {
    grid-template-columns: 1fr;
    grid-template-areas: 'first' 'second' 'third';
  }
}