body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2c2f3c; }
  body .header {
    width: 100%;
    background-image: url("../img/m-h-day.jpg");
    background-size: cover;
    background-position: center;
    height: 510px;
    clip-path: path("M 0,0 L 0,510 L 850,510 Q 1380,480 1350,250 L 1350,0 Z"); }
    body .header .header-wrap {
      width: 400px;
      padding-top: 15px;
      padding-left: 135px; }
      body .header .header-wrap .landing-logo {
        width: 100px;
        display: flex;
        justify-content: space-between;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600; }
        body .header .header-wrap .landing-logo img {
          width: 30px;
          height: 30px; }
        body .header .header-wrap .landing-logo p {
          color: #2c2f3c;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: center;
          width: 70px;
          margin: 0;
          font-size: 16px; }
          body .header .header-wrap .landing-logo p span {
            font-size: 7px; }
      body .header .header-wrap .header_heading {
        margin-bottom: 0;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 50px;
        font-weight: bold;
        line-height: 52px; }
        body .header .header-wrap .header_heading::after {
          position: relative;
          display: block;
          width: fit-content;
          background-color: #14a0c7;
          height: 36px;
          top: -38px;
          line-height: 21px;
          content: 'awesome'; }
      body .header .header-wrap .header_text {
        position: relative;
        top: -15px;
        white-space: pre;
        margin: 0 0 0  -45px; }
      body .header .header-wrap div .header_button {
        background-color: #699900;
        border-style: none;
        color: white;
        padding: 9px 28px;
        border-radius: 3px; }
      body .header .header-wrap div .login {
        margin-left: 100px;
        color: white; }
  body .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    body .section .section_text {
      margin-bottom: 0;
      font-family: "Hind", sans-serif;
      font-size: 28px;
      font-weight: bold;
      margin-top: 20px; }
      body .section .section_text::after {
        position: relative;
        display: block;
        width: fit-content;
        background-color: #14a0c7;
        padding: 0 2px 2px;
        height: 30px;
        top: -45px;
        left: 153px;
        content: 'adventure'; }
    body .section .section_card_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: -30px; }
      body .section .section_card_wrap .section_card {
        display: flex;
        width: 780px;
        justify-content: space-between;
        align-items: center;
        background-color: #21232e;
        padding: 10px;
        margin: 15px auto;
        border-radius: 5px; }
        body .section .section_card_wrap .section_card .section_card_img {
          border-radius: 4px;
          margin-left: 2px; }
        body .section .section_card_wrap .section_card img[alt="experts"] {
          width: 320px; }
        body .section .section_card_wrap .section_card img[alt="content formats"] {
          width: 300px; }
        body .section .section_card_wrap .section_card img[alt="certificate"] {
          width: 350px; }
        body .section .section_card_wrap .section_card .section_card_right_container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 10px 20px;
          margin-right: 20px; }
          body .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
            color: white;
            font-family: "Hind", sans-serif; }
          body .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
            width: 340px;
            color: #b1b0b0;
            font-family: "Hind", sans-serif;
            font-size: 12px;
            text-align: justify; }
          body .section .section_card_wrap .section_card .section_card_right_container .section_link {
            color: #b1b0b0;
            font-size: 10px; }
    body .section .section_banner {
      position: relative;
      top: 47px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 900px;
      background: linear-gradient(to right, #699900, #2f5dd3);
      border-radius: 5px;
      margin-top: 40px;
      padding: 7px 0 20px; }
      body .section .section_banner .section_banner_text_wrap {
        font-family: "Source Sans Pro", sans-serif;
        margin-left: 100px; }
        body .section .section_banner .section_banner_text_wrap .section_banner_heading {
          color: #2c2f3c;
          font-size: 22px;
          font-weight: bold;
          margin: 10px; }
          body .section .section_banner .section_banner_text_wrap .section_banner_heading::after {
            position: relative;
            display: block;
            width: fit-content;
            background-color: #14a0c7;
            padding: 10px 2px 2px;
            top: -38px;
            left: 87px;
            content: 'start'; }
        body .section .section_banner .section_banner_text_wrap .section_banner_text {
          color: #b1b0b0;
          margin: -40px 10px 5px;
          font-size: 10px;
          letter-spacing: 0.8px; }
      body .section .section_banner .section_banner_button {
        background-color: #699900;
        border-style: none;
        color: white;
        padding: 9px 28px;
        border-radius: 3px;
        margin: 10px 100px 0; }
  body .footer .footer-wrap {
    background-color: #21232e;
    color: #b1b0b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 115px 30px; }
    body .footer .footer-wrap .landing-logo {
      width: 100px;
      display: flex;
      justify-content: space-between;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600; }
      body .footer .footer-wrap .landing-logo img {
        width: 30px;
        height: 30px; }
      body .footer .footer-wrap .landing-logo p {
        color: #b1b0b0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width: 70px;
        margin: 0;
        font-size: 16px; }
        body .footer .footer-wrap .landing-logo p span {
          font-size: 7px; }
    body .footer .footer-wrap .footer_text {
      width: 200px;
      font-size: 9px;
      font-family: "Hind", sans-serif; }
    body .footer .footer-wrap .footer-cr {
      font-size: 10px;
      font-weight: 600;
      font-family: "Hind", sans-serif; }
