body {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
}

.click-animation {
    width: 10px;
    height: 10px;
    border: 2px solid hsla(0, 100%, 50%, 0.8);
    box-shadow: 0 0 5px hsl(0, 100%, 50%);
    border-radius: 50%;
    transition-property: width, height, border, box-shadow, top, left;
    transition-duration: 300ms;
}

.click-animation:hover {
    border: 5px solid hsla(0, 100%, 50%, 0.1);
    box-shadow: 0 0 20px hsla(0, 100%, 50%, 0.1);
    width: 30px;
    height: 30px;
}

.search {
    display: inline-block;
    vertical-align: middle;
}

.search ul {
    list-style-type:none;
    text-align: left;
    padding-left: 1em;
}

.select-div {
    margin-bottom: 1em;
}

.country-table {
    border: 1px solid grey;
    display: block;
    table-layout: fixed;
    margin: 0 auto 4em;
    width: 73em;
    border-collapse: collapse;
    letter-spacing: 0.05em;
    text-align: center;
}

.col-1-3 {
    width: 11em;
}

.col-4 {
    width: 24em;
}

.col-5-6 {
    width: 8em;
}

.country-table thead {
    height: 3em;
}

.country-table th, td {
    padding: 0 1em;
    border: 1px solid grey;
}

.country-table thead {
    background: green;
    color: white;
}

.table-body tr:nth-child(even) {
    background-color: hsl(0, 0%, 90%);
    position:relative;
    z-index: 10;
}

.table-body tr:hover {
    border-color: #26bf47;
    box-shadow: 0 0 15px #26bf47;
    background-color: hsl(108, 76%, 87%);
    font-weight: bolder;
    position:relative;
    z-index: 100;
}

.sort-by-country, .sort-by-area {
    color: yellow;
}

.sort-by-country, .sort-by-area {
    color: yellow;
}

.pointer, option.pointer {
    cursor: pointer;
}

#item-list {
    margin-left: 1.5em;
    width: 9em;
}