@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    border-color:#111;
    border-color: #525252;
    border-color: white;
    border-color: coral;
    border-color: lightcoral;    
    font-family: 'Roboto', sans-serif;
    
}

.my-section-header {
    font-size: 1.5rem;
}

.my-button-color {
    background-color: coral;
    border-color: lightcoral;
    color: #fff
}

.article-pargraph {
    font-size: 0.9rem;    
}

.dark-theme-font-color {
    color: #fff;
}

.light-theme-font-color {
    color: #111;
}