/* START: Task 1 Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.colored-table {
    display: block;
    table-layout: fixed;
    margin: 2em auto 4em;
    width: fit-content;
    letter-spacing: 0.05em;
    text-align: center;
    background-color: green;
}

.table-data {
    background-color: white;
    font-size: 1.5em;
    padding: 1.5em;
    border: 1px solid black;
    width: 2.5em;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    margin: 0 auto;
    padding: 1em;
    width: 22em;
    border: 1px dotted grey;
}

#message-box-container {
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid grey;
    width: 100%;
    height: 3em;
    text-align: left;    
    color: white;
    font-weight: bold;   
    visibility:hidden;
    display: flex;
    flex-wrap: wrap;
    align-content:center;    
}

#input-box {
    margin: 0;
    border: 1px solid black;
    width: 75%;
    height: 20px;   
    color: grey;    
    border-radius: 2px;
    
}

#input-button {
    border-radius: 10%;
    font-weight: 500;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {    
    margin: 0;
    padding: 0;    
}

.court-image {
    width: 600px;
    height: 330px;
}

.court-with-scores {    
    margin: 4em auto 0;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.court-area {
    position: relative;
}

.ball-image {   
    position: absolute; 
    width: 40px;
    left: 280px;
    top: 145px;
}

.team-container {
    margin: 0 5px;
}

.goal-message{    
    opacity: 0; 
    transition-property: opacity;
    transition-duration: 2700ms;
    transition-delay: 300ms;
    transition-timing-function: ease-out;
}

.team-b-hoop {
    position: absolute;    
    width: 15px;
    height: 15px;
    top: 156px;
    left: 551px;
}

.team-a-hoop {
    position: absolute;    
    width: 15px;
    height: 15px;
    top: 156px;
    left: 31px;
}
/* END: Task 3 Styles */
