$link-color: white;
$section-text-color: #b1b0b0;
@mixin button-styling {
    background-color: $button-color;
    border-style: none;
    color: $link-color;
    padding: 9px 28px;
    border-radius: 3px;
}

@mixin small-link {
    color: $section-text-color;
    font-size: 10px;}

$fonts: (
    sourse: ('Source Sans Pro', sans-serif),
    hind: ('Hind', sans-serif),
    fresca: ('Fresca', sans-serif)
);    

@mixin lending-logo($color) {
    width: 100px;
    display: flex;
    justify-content: space-between;
    font-family: map-get($fonts , sourse);
    font-weight: 600;
    img {
        width: 30px;
        height: 30px;                  
    }

    p {
        color: $color;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        text-align: center;
        width: 70px;
        margin: 0;
        font-size: 16px;
        span {
            font-size: 7px;                        
        }
    }                
}

@mixin after-set($color){
    position: relative;
    display: block;
    width: fit-content;
    background-color: $color;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;    
}



body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $font-color;

    .header {
        width: 100%;
        background-image: $background-image;
        background-size: cover;
        background-position: center;
        height: 510px;        
        clip-path: path('M 0,0 L 0,510 L 850,510 Q 1380,480 1350,250 L 1350,0 Z');
        
        .header-wrap {
            width: 400px;
            padding-top: 15px;
            padding-left: 135px;

            .landing-logo {
                @include lending-logo($font-color);
            }

            .header_heading {
                margin-bottom: 0;
                font-family: map-get($fonts, sourse);
                font-size: 50px;
                font-weight: bold;
                line-height: 52px;
                
                &::after {
                    @include after-set($highlighted-color);                   
                    height: 36px;
                    top: -38px;
                    line-height: 21px;                    
                    content: 'awesome';                    
                    
                }
            }

            .header_text {
                position: relative;
                top: -15px;
                white-space: pre;
                margin: 0 0 0  -45px;
            }

            div {
                .header_button {
                    @include button-styling;
                }

                .login {
                    margin-left: 100px;
                    color: $link-color;
                }
            }
        }
    }

    .section {
        @include flex-column;
            .section_text {
            margin-bottom: 0;
                font-family: map-get($fonts , hind);               
                font-size: 28px;
                font-weight: bold;
                margin-top: 20px;
                
                &::after {
                    @include after-set($highlighted-color);
                    padding: 0 2px 2px;                    
                    height: 30px;
                    top: -45px;
                    left: 153px;                                    
                    content: 'adventure';
                }
        }

        .section_card_wrap {
            @include flex-column;
            margin-top: -30px;
            
            .section_card {
                display: flex;
                width: 780px;                
                justify-content: space-between;
                align-items: center;
                background-color: $section-color;
                padding: 10px;
                margin: 15px auto;
                border-radius: 5px;

                .section_card_img {
                    border-radius: 4px;
                    margin-left: 2px;
                }

                img[alt="experts"] {
                    width:320px;
                }

                img[alt="content formats"] {
                    width:300px;
                }

                img[alt="certificate"] {
                    width:350px;
                }

                .section_card_right_container {
                    @include flex-column;                    
                    padding: 10px 20px;
                    margin-right: 20px;

                    .section_card_heading {
                        color: white;
                        font-family: map-get($fonts , hind);
                        
                    }

                    .section_card_text {
                        width: 340px;
                        color: $section-text-color;
                        font-family: map-get($fonts , hind);
                        font-size: 12px;
                        text-align: justify; 
                    }

                    .section_link {
                        @include small-link;
                    }
                }
            }
        }

        .section_banner {
            position: relative;
            top: 47px;
            display: flex;
            justify-content: space-between;
            align-items: center;        
            width: 900px;
            background: linear-gradient(to right,$button-color, $right-gradient-color);            
            border-radius: 5px;
            margin-top: 40px;
            padding: 7px 0 20px;

            .section_banner_text_wrap {
                font-family: map-get($fonts , sourse);
                margin-left: 100px;
                

                .section_banner_heading {
                    color: $font-color;
                    font-size: 22px;
                    font-weight: bold;
                    margin: 10px;

                    &::after {
                        @include after-set($highlighted-color);
                        padding: 10px 2px 2px;                    
                        top: -38px;
                        left: 87px;                                    
                        content: 'start';
                    }
                }

                .section_banner_text {
                    color: $section-text-color;
                    margin: -40px 10px 5px;
                    font-size: 10px;
                    letter-spacing: 0.8px;
                }                
            }

            .section_banner_button {
                @include button-styling;
                margin: 10px 100px 0;               
            }
        }
    }

    .footer {
        .footer-wrap {
            background-color: $section-color;
            color: $section-text-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 80px 115px 30px;
            .landing-logo {
                @include lending-logo($section-text-color);
            }

            .footer_text {
                width: 200px;
                font-size: 9px;
                font-family: map-get($fonts , hind);
            }

            .footer-cr {
                font-size: 10px;
                font-weight: 600;
                font-family: map-get($fonts , hind);
            }

        }
    }
}