$background-color: #21232e;
$font-color: #ffffff;
$button-color:#e3ac00;
$highlighted-color: #ff4e33;
$section-color: #3b3f50;
$background-image: url('../img/m-h-night.jpg');
$right-gradient-color: #95304f;