$background-color: white;
$font-color: #2c2f3c;
$button-color: #699900;
$highlighted-color: #14a0c7;
$section-color: #21232e;
$background-image: url('../img/m-h-day.jpg');
$right-gradient-color: #2f5dd3;