body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url(/img/apples.jpg);
    background-size: cover;
    background-position: center;   
    height: 50em;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
    
}

.navigation a {
    color: #F3F3F3;
    
}

.logo {
    margin-top: 1em;
    margin-left: 3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    min-width: 10em;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}

.navigation-menu {  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    padding-right: 3em;     
    width: 80%;   
}

.menu-list {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;   
    display: flex;
    min-width: 16em;
    width: 35%;  
    padding: 0;  
}

.menu-list li {    
    padding: 0 0.5em;
}

.brand-name {
    text-align: center;
    color: #FFF;
   
}

.brand-name h1 {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
}

.brand-name h1 span {
    font-size: 2em;
   
}

.brand-name p {
    margin: 0;
}

.button-show-more-container {
    margin-bottom: 7.1em;
}   

.button-show-more {
    border: 2px solid #F3F3F3;
    color:#F3F3F3;
    padding: 1em 4em;
    background-color: #34363899;
    font-size: larger;
}

.alone-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25em;
}

.left-article, .right-article {
    text-align: center;    
    vertical-align: middle;
}

.left-article {
    width: 45%;
}

.right-article {
    width: 55%;
}

.left-article p{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0.7em;  
    font-size: 1.5em;
    text-align: left;
}

.right-article p {
    width: 77%;
    margin: 0 auto;    
    font-size: 0.9em;
    text-align: justify;
    color: #343638;  
}

.grey-background-section {
    background-color:#E8E8E8;   
}

.section-inside-gray {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    padding-top: 3em;
}

.section-inside-gray h2 {
    font-weight: normal;
    margin: 3em auto;
}

.article-with-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 1em;
}

.photo-container {
    position: relative;
    width: fit-content;   
}

.image {
    position: relative;    
    max-width: 100%;
    height: auto;
    display: flex;
}

.photo-caption {
    position: absolute;
    color:#FFF;
    font-size: 0.9em;
    font-weight: 500;
    bottom: 6%;
    left: 3%;
    margin: 0;
}

.photo-likes {
    position: absolute;
    margin: 0.5em;
    color:#FFF;
    border: 2px solid #FFF;
    padding: 0.2em 0.4em;
    background-color: #343638;
    font-size: 0.9em;
    font-weight: normal;
    top: 4%;
    right: 2%;
    width: fit-content;
}

.image-shadow {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    background: radial-gradient( rgba(255,255,255,0), rgba(0,0,0,0.3));  
}

.article-text-container {
    min-width: 15em;
    width: 37%;
    text-align: center;
    color: #343638;
}

.email-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    padding: 2.5em 0;
    margin:1.5em 0 2.5em 0;
    background-color: #FFF;
}

.email-label {
    min-width: 14em;
    font-size: 1.4em;
    margin: 0 0 0 1em;
}

.email-input {
    width: 65%;
    max-width: 65%;
    font-size: 1.4em;
    padding: 0.4em 0.5em 0.6em;
    background-color: #E8E8E8;
    border-style: none;
    border: 1px solid #A4A4A4;
}

.email-input::placeholder {
    color:#343638;
    font-size: 0.6em;
  }

.email-submit {
    margin: 0 2em 0 0;
    border-style: none;
    color: #FFF;
    background-color: #343638;
    padding: 1.31em;
}

footer {
    background-color: #FFF;
}

footer p {
    font-size: 0.9em;
    color:#9E9E9E
}

.footer-container {
    width: 92%;
    min-width: 38em;
    margin: 6em auto 0;
}

.brief-info-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    vertical-align: top;
    width: 100%;
    height: 16em;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
    width: 65%;
    max-width: 65%;
}

.company-info {
    text-align: left;
    width: 35%;
    min-width: 8em;
}

.last-tweet {
    width: 35%;
    margin: 0 0.5em;
    min-width: 8em;
}

.tweet-text {
    text-align: left;
    font-style: italic;
}

.tweet-time {
    color: #E8E8E8;
}

.contact-info {
    width: 22%;
    min-width: 11em;
}

.subscribe-container {
    display: flex;
    flex-direction: column; 
    width: 25%;
}

.subscribe-container p {
    margin: 0;
    margin-bottom: 0.2em;   
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 2.2em;
}

.subscribe-form input[type='email'] {   
    width: 70%;
    max-width: 70%;
    font-size: 1em;
    padding: 0.5em 0.5em 0.6em;
    background-color: #E8E8E8;
    border-style: none;
    border: 1px solid #A4A4A4;
}

.subscribe-form input[type='email']::placeholder {
    color:#343638;
    font-size: 0.8em;   
  }

.subscribe-form input[type='button'] {
    width:fit-content;
    margin: 0;
    border-style: none;
    color: #FFF;
    background-color: #343638;
    padding:0 1em;
}

.footer-navigation-section {
    border-top: 2px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.copyright {
    min-width: 11em;
}

.footer-navigatin-bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;      
}

.footer-navigatin-bar ul {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;   
    display: flex;
    min-width: 16em;
    width: 27%;  
    padding: 0;    
}

.footer-navigatin-bar ul li {
    font-size: 0.9em;
    font-weight: 500;  
}

.footer-navigatin-bar ul li a:active {
    color: #343638;  
}

.footer-navigatin-bar ul li a:visited {
    color: #343638;  
}