html {
  scroll-behavior: smooth;;
}

body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  border-color: #0078aa;
  border-color: #363636;
  border-color: #fff;
}

.button-up {
  position: fixed;
  right: 2em;
  bottom: 2em;  
}

.button { 
  border-radius: 50%;  
  color:  #fff;
  background-color: #0078aa;
  border: 2px solid #0078aa; 
  vertical-align: middle;
}

.button svg{ 
  padding: 0.80em 0.8em 0.60em;
  width: 1.2em;
  height: 1.2em; 
}

.button:hover {
  color: #0078aa;
  background-color: #fff;
}

header nav {
  position: fixed;
  display: flex;
  width: 78%;  
  justify-content: space-between;
  align-items: center;
  padding: 1em 10em;
  background-color: #fff;
}

.logo-image {
  width: 2em;
  height: 2em;  
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  
  list-style: none;  
  text-transform: uppercase;
  font-size: 0.8em;
}

.nav-bar li a {
  color: #363636;
  font-weight: bold;
  margin: 0 0.8em;

}

.nav-bar li a:link {
  text-decoration: none;  
}

.nav-bar li a:hover {
  color: #0078aa;
}

.nav-space-filler {
  height: 4.5em;
}

.intro-banner {  
  margin-left: 10em;
  width: 88%; 
  height: 33em;
  background-image: url('/img/lady.jpg');
  background-position:right;
  background-size: cover;
}

.banner-content {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.banner-content h1 {
  width: 13em;
  text-transform: capitalize;
  font-size: 2.1em;
  margin: 0;
}

.banner-content p {
  width: 25em;
  margin: 1em 0;  
}


.icons {
  display: flex;
  justify-content: center;
  width:fit-content;
  margin-left: -0.6em;
}

.icon-button {
 margin: 0.8em;
}

.icon-button.button svg{ 
  padding: 0.45em 0.30em 0.25em;
  width: 2em;
  height: 2em; 
}

.about-clinic {
  margin: 3em 0;
  display: flex;
  justify-content:left;
  align-items: center;
}

#about {
  position: relative;
  bottom: 20em;
}

#services {
  position: relative;
  bottom: 7em;
}

.tools-image {
  width: 50%;
}

.about-clinic-content {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

h3 {  
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9em;
  margin: 0.5em 0 1em;
  padding: 0;
  color: #363636;  
}

h4 {
  text-transform: capitalize;
}

.about-clinic-content h3 {
  color: #0078aa;  
}

.about-clinic-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 24em;
  list-style: none;
}

.about-clinic-list li {
  margin: 0.5em 0;
  padding: 0;
  font-size: 0.8em;
}

.about-clinic-list li h4 {
  margin: 0 0 0.5em;
  padding: 0;
}

.about-clinic-list li h4::before {
  content: '⇨';
  color:#0078aa;
  margin-right: 0.5em;
}

.about-clinic-list li p {
  margin: 0;
  padding: 0;
}

.we-can-help {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('/img/services_bg.jpg');
  background-position:right;
  background-size: cover;
}

.help-heading {
  text-align: center;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.card {
  padding: 1em;
  width: 23%;
  min-width: 10em;  
  background-color: #fff;
  margin: 1em;
}

.special-offers-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/img/pricing_bg.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
}

#pricing {
  position: relative;
  bottom: 2em;
}

.special-offers-heading {
  text-align: center;
}

.special-offers-heading h2 {
  margin-top: 2em;
  
}

.special-offer-cards {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  min-width: 75%;
  height: 37em;
  margin: 2em 0;
}

.special-offer {
  margin: 0 0.1em;
  height: 90%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  color: #fff;
  background-color: #47c9e5; 
}

.special-offer:hover { 
  width: 35%;
  height: 100%;
  color: #47c9e5;
  background-color: #fff;
  border: 2px solid #0078aa;  
}

.offer-name {
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
}

.offer-price {
  font-size: 3.5em;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0.2em 0;
}

.treatment-quantity {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  font-size: 1em;
  margin-bottom: 0.5em;
}

ul.treatments {
  margin: 0;  
  padding: 0;
  list-style: none;
}

li.treatment-name {
  font-size: 0.8em;
  margin: 2em 0;
}

.get-now-button {
  padding: 0.7em 1em;
  color: #0078aa;
  font-size: 1em;
  font-weight: bold;
  background-color: #fff;
  border: 1.5px solid #0078aa;
  border-radius: 0.7em;
}

.get-now-button:hover {
  color: #fff;
  background-color: #0078aa;
  border-color: #fff;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: 30em;
  margin-top: 3.5em;
}

.woman-with-stethoscope {
  width: 50%;
  background-image: url('/img/contact_image.jpg');
  background-position: left;
  background-size: cover;
  
}

.appointment-section {
  width: 50%;
  margin: 0 2em;
}

.appointment-section h2{
  margin-top: 1.5em;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appointment-form input {
  padding: 1em 1em 0.5em;
  margin: 0 0 1em 0;
  font-style: italic;
  border-style: none;
  border-bottom: 1px solid #d1d1d1;
}

.appointment-form button {
  width: fit-content;
  margin: 1em;
  padding: 1em 1.5em;
  background-color: #0078aa;  
  border: 2px solid #0078aa;
  border-radius: 1.2em;
  color: #fff;
  font-weight: bolder;
}

.appointment-form button:hover {
  color: #0078aa;
  background-color: #fff
}

@media screen and (max-width: 1280px) {  
  .intro-banner {  
    margin-left: 1em;
    width: 100%;
    background-position: center;    
  }

  header nav {
    padding: 1em;
    width: 98%;    
  }
}

@media screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
    margin: 0;
    padding: 1em 0;
    width: 100%;
  }

  .nav-bar {
    padding: 0;
  }

  .intro-banner {  
    margin-left:0;
    width: 100%;
    background-position: right;
    background-position-x: -330px;
  }
  
  .banner-content {
    padding-top: 10em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
    text-align: center;
  }

  .banner-content h1 {
    max-width: 8em;
  }

  .banner-content p {
    width: 90%;
  }

  .icons {    
    justify-content: space-between;
    width: 50%;
    max-width: 20em;
    margin: 0;
  }

  .about-clinic {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  #about {
    position: relative;
    bottom: -2em;
  }
  
  #services {
    position: relative;
    bottom: 8em;
  }

  #pricing {
    bottom: 6em;
  }
  
  .tools-image {
    width: 100%;
  }
  
  .about-clinic-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  .about-clinic-list {
    margin: 0;
    padding: 0;   
    text-align: center;
  }
    
  .about-clinic-list li h4 {
    margin: 0 auto;
    padding: 0;
  }

  .card {    
    width: 100%;
    max-width: 30em;    
  }

  .special-offer-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 75%;
    height: auto;
    margin: 2em 0;
  }

  .special-offer {
    margin: 0.1em 0;
    display: flex;
    height: 35em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
  }

  .special-offer:hover { 
    width: 100%;
    height: 35em;
    padding: 0 1em;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: auto;
    margin-top: 3.5em;
  }

  .woman-with-stethoscope {
    width: 100%;
    height: 20em;    
    background-position: center;
    background-size: cover;    
  }

  .appointment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  
  .appointment-section h2{
    margin-top: 1.5em;
    width: 50%;
  }
  
  .appointment-form {
    display: flex;
    flex-direction: column;
    justify-content: left;    
    width: 90%;
    max-width: 30em;
  }  
  
  .appointment-form button {
    width: fit-content;
    margin: 1em auto;
  }
}