@import 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/285/red-heart_2764-fe0f.png';

#tweetItems {
    #navigationButtons {
        .back-button, .go-to-liked-button {
            display: none;
        }
    }

    .tweet-list {
        padding: 0.5rem;
        margin: 2em auto;
        width: fit-content;
        border-radius: 1rem;
        background-color: hsl(90, 100%, 60%);
        
        .tweet-list-item {
            padding: 0.5rem;
            margin: 0.5rem;
            list-style: none;
            display: flex;
            width: 28rem;
            justify-content: space-around;
            align-items:center;
            background-color:  hsl(90, 100%, 80%);
            border-radius: 0.5rem;
            position: relative;

            .tweet-paragraph {
                padding: 0.2em 0.4em;
                margin: 0 0.5em;     
                width: 15em;
                height:fit-content;
                overflow-wrap:break-word;    
                text-align: left;
                background-color:  hsl(90, 100%, 90%);
                border-radius: 0.3rem;
            }
            
            .liked {
                box-shadow: 0 0 15px #26bf47;
                border-radius: 1em;                
            }

            .liked::before {
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;               
                content: '';                
                top: 0;
                left: 0;
                background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/285/red-heart_2764-fe0f.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }


            .like-button {
                width: 4em;
            }
        } 
    }
}

.button {
    border-radius: 0.3em;
}





