@import './generatedElementStyle.scss';

#root {
    position: relative;
    margin: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    height: calc(100vh - 6rem);
    text-align: center;
    background-color: rgb(201, 202, 202);

    #alertMessage {
        position: absolute;
        padding: 1em;
        background-color: gray;
        color: white;
        visibility: hidden;
        left: calc(50vw - 180px - 250px);
        width: 180px;
    }

    .listPage {
        display: flex;
        flex-direction: column;    
        justify-content: center;

        #navigationButtons {
            display: flex;
            justify-content: space-evenly;
            
            .addTweet {
                border-radius: 0.3em;
            }
        }        
    }
   
    #modifyItem {
        display: none;

        #modifyItemInput {
            padding: 0.2rem;
            margin-bottom: 1rem;
        }
    }    
}

