@import './support-styles.scss';

html {
    scroll-behavior: smooth;
}

body {
    background-color: aqua;
    overflow-y: scroll;
}

.rules-container {
    margin: 2rem auto;
    padding: 2rem;
    width: fit-content;
    @include flex-col();
    border: 2px solid rgb(59, 130, 243);
    border-radius: 50px;

    .rules-heading {
        margin: 0;
        font-size: 2rem;       
    }

    .rules {
        font-size: 1.5rem;
        font-style: italic;
        padding-left: 1rem;
    }

    .lets-heading {
        margin: 0;
        font-size: 3rem;
        color: red;
    }
}

.log {
    margin: 1rem auto;
    @include flex-col;    

    .log-message {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0.5rem;
    }
}

.final-result {
    margin: 1rem auto;
    width: fit-content;

    .final-result-message {
        font-size: 3rem;
        color: red;
    }
}