@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    margin: 0 auto;
    width: fit-content;
    @include flex-col();

    .buttons {

        .button {
            background-color: transparent;
            border-style: none;
            cursor: pointer;
        }
    }

    .reset-link {
        font-size: 2rem;
    }
}
    
