:root {
    --calc-bg: rgb(125, 125, 143);
    --calc-numpad-bg: rgb(200, 200, 200);
    --border-col: rgb(52, 52, 52);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.app-container {
    margin: 2rem auto;
    width: fit-content;
    display: flex;    
    justify-content: center;
    gap: 3rem;
}

.calculator {
    width: fit-content;
    padding: 1.5rem;
    background-color: var(--calc-bg);
    border: 3px solid var(--border-col);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.screen-block {    
    margin: 0;
    padding: 0.3rem;
    background-color: white;
    width: 95%;
    height: 1em;
    font-size: 1.2rem;
    border-top: 1px solid var(--border-col);
    border-left: 1px solid var(--border-col);
    text-align: right;
}

.num-pad {
    display: grid;    
    grid-template-areas: "empty-1 empty-2 button-C button-divide"
                        "button-9 button-8 button-7 button-multiply"
                        "button-6 button-5 button-4 button-plus"
                        "button-3 button-2 button-1 button-minus"
                        "empty-3 button-0 empty-4 button-equel";
    background-color: var(--calc-numpad-bg);
    padding: 0.2rem;
    gap: 0.2rem;    
}

.empty-space, .key-button {
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--calc-bg);
}

.empty-space {
    background-color: var(--calc-bg);
}

.key-button {
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 3px;    
}

.key-button:hover {
    background-color: rgb(160, 160, 160);
}

.empty-space-1 {
    grid-area: empty-1;
}

.empty-space-2 {
    grid-area: empty-2;
}

.empty-space-3 {
    grid-area: empty-3;
}

.empty-space-4 {
    grid-area: empty-4;
}

.key-button-0 {
    grid-area: button-0;
}

.key-button-1 {
    grid-area: button-1;
}

.key-button-2 {
    grid-area: button-2;
}

.key-button-3 {
    grid-area: button-3;
}

.key-button-4 {
    grid-area: button-4;
}

.key-button-5 {
    grid-area: button-5;
}

.key-button-6 {
    grid-area: button-6;
}

.key-button-7 {
    grid-area: button-7;
}

.key-button-8 {
    grid-area: button-8;
}

.key-button-9 {
    grid-area: button-9;
}

.key-button-C {
    grid-area: button-C;
}

.key-button-divide {
    grid-area: button-divide;
}

.key-button-multiply {
    grid-area: button-multiply;
}

.key-button-plus {
    grid-area: button-plus;
}

.key-button-minus {
    grid-area: button-minus;
}

.key-button-equel {
    grid-area: button-equel;
}

.red-text {
    color: red;
}

.logs-block {
    width: 30rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    overflow-y: auto;
    gap: 1rem;
}

.log-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.circle {
    
    width: 1rem;
    height: 1rem;
    border: 2px solid red;
    border-radius: 50%;
}

.circle:hover {
    background-color: red;
    cursor: pointer;
}

.equation {
    width: fit-content;
    text-align: center;
    font-size: 1.2rem;
}

.close-icon {
    margin: 0 2rem 0.2rem 0;
    font-size: 1.5rem;
}

.close-icon:hover {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.red-background {
    background-color: red;
}