html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: lightgrey;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);

}

.input-message-container {
    width: 100%;
    height: 2rem;
    position:fixed;
    padding: 1rem 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bg-color);
}

.input-message-container-space {
    width: 100%;
    height: 2rem;
    padding: 1rem 0;
    background-color: var(--bg-color);
}

.message-space {
    width: 100%;
    height: fit-content;
}

.input-message {    
    width: 80%;
    border: 2px solid grey;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
}

.send-button {
    width: fit-content;    
    border: 2px solid grey;
    border-radius: 0.7rem;
    padding: 0.4rem 1rem;
    font-weight: 900;
    background-color: greenyellow;
}

.send-button:hover {
    border-color: green;
    background-color: gold;
    
    color: green;
}

.message-container {    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.my-message-container {
    align-items: flex-end;
}

.my-message {
    background-color: lightgreen;
}

.others-message-container {
    align-items: flex-start;
}

.others-message {
background-color: lightsalmon;
}

.user-name {
    margin: 0 0.5rem;
    padding: 0;
    font-style: italic;
    font-size: 1rem;
}

.user-message {
    margin: 0;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;    
}

.post-time {
    margin: 0 0.5rem;
    padding: 0;
    font-weight: 300;
}